In [198]:
import requests
import pandas as pd

In [199]:
pd.set_option('display.max_columns', None)

In [204]:
city_id = ['134', '5', '4709', '2', '2378', '2423', '3686', '5732', '777', '1692', '6', '132', '6105', '290']
cars_list = []
for city in city_id:
    for page in range(1, 125):
        r = requests.get('https://api-sell24.cars24.team/buy-used-car?sort=P&serveWarrantyCount=true&gaId=331146332.1622358282' + 
                         '&listingCohortABTest=CONTROL&page='+str(page)+'&storeCityId=' + city)
        json = r.json()
        cars_list.extend(json['data']['content'])

In [205]:
len(cars_list)

7400

In [206]:
tv_cars = pd.DataFrame(cars_list)

In [207]:
tv_cars.columns

Index(['carId', 'carName', 'year', 'fuelType', 'kilometerDriven', 'price',
       'mainImage', 'inspectionMainImage', 'baseUrl', 'dispositionStatus',
       'media', 'city', 'views', 'bodyType', 'transmission', 'storeName',
       'variant', 'isC24Assured', 'registrationCity', 'registrationState',
       'isTopSelling', 'calculatedScore', 'registrationNumber', 'carSource',
       'make', 'model', 'lmsShareLink', 'inventoryStatus', 'ownerNumber',
       'parkingYardId', 'c24Quote', 'originalPrice', 'dealRating',
       'sellerBuddyId', 'createdDate', 'offerCount', 'threeSixtyViewUrl',
       'spinCarImageSync', 'spinCarMedia', 'isCFEnabled', 'inventoryState',
       'storeCityId', 'isFavouriteLms', 'ownerName', 'emiStartingValue',
       'cashDownPayment', 'carScores', 'ciVehicleLocationInfo',
       'ciChargesApplicable', 'reserved', 'cars24Owned', 'warrantyAvailable'],
      dtype='object')

In [211]:
tv_cars = tv_cars[tv_cars.city != 'Coimbatore']

In [212]:
tv_cars.to_csv('backup.csv', index=False)

In [213]:
cols = ['mainImage', 'inspectionMainImage', 'carScores', 'baseUrl', 'calculatedScore', 'storeName', 'ownerName',
       'dispositionStatus', 'media', 'lmsShareLink', 'parkingYardId', 'sellerBuddyId',
       'offerCount', 'threeSixtyViewUrl', 'spinCarImageSync', 'spinCarMedia', 'inventoryState',
       'storeCityId', 'isFavouriteLms', 'carScores', 'ciVehicleLocationInfo', 
       'ciChargesApplicable', 'cars24Owned']
tv_cars.drop(cols, axis=1, inplace=True)
print(len(cols))
tv_cars.head()

23

,carId,carName,year,fuelType,kilometerDriven,price,city,views,bodyType,transmission,variant,isC24Assured,registrationCity,registrationState,isTopSelling,registrationNumber,carSource,make,model,inventoryStatus,ownerNumber,c24Quote,originalPrice,dealRating,createdDate,isCFEnabled,emiStartingValue,cashDownPayment,reserved,warrantyAvailable
0,1009580428,Maruti Swift,2015,Petrol,8063,386399,Noida,18715,Hatchback,Manual,LXI OPT,True,Delhi,Delhi,True,DL6C,GS_CAR,MARUTI,SWIFT,STOCK_IN,2,397677,404177.0,GREAT,2021-04-04T07:09:18.583,True,8975,57960,False,False
1,1005820423,Maruti Alto 800,2014,Petrol,5383,285699,Noida,8359,Hatchback,Manual,VXI,True,Delhi,Delhi,True,DL3C,GS_CAR,MARUTI,ALTO 800,STOCK_IN,1,290710,297210.0,GREAT,2021-03-16T08:52:05.513,True,6636,42855,False,False
2,1124764129,Maruti Ritz,2011,Petrol,17980,270699,Noida,1841,Hatchback,Manual,VXI BS IV,True,Ghaziabad,Uttar Pradesh,True,UP14,GS_CAR,MARUTI,RITZ,STOCK_IN,1,246284,321788.0,GOOD,2021-03-03T16:13:49.956,True,6288,40605,False,False
3,1052990821,Maruti Alto 800,2016,Petrol,23104,265499,Noida,2676,Hatchback,Manual,LXI,True,Noida,Uttar Pradesh,True,UP16,GS_CAR,MARUTI,ALTO 800,STOCK_IN,1,272935,354313.0,GREAT,2021-03-22T14:07:32.833,True,6167,39825,False,False
4,1004180023,Hyundai Grand i10,2017,Petrol,23402,477699,Noida,609,Hatchback,Manual,SPORTS 1.2 VTVT,True,Agra,Uttar Pradesh,True,UP80,GS_CAR,HYUNDAI,GRAND I10,STOCK_IN,1,469605,NaN,GREAT,2021-03-20T05:36:31.311,True,11096,71655,False,False

In [215]:
tv_cars.shape

(7399, 30)

In [216]:
tv_cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7399 entries, 0 to 7399
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   carId               7399 non-null   object
 1   carName             7399 non-null   object
 2   year                7399 non-null   int64
 3   fuelType            7399 non-null   object
 4   kilometerDriven     7399 non-null   int64
 5   price               7399 non-null   int64
 6   city                7399 non-null   object
 7   views               7399 non-null   int64
 8   bodyType            7296 non-null   object
 9   transmission        6843 non-null   object
 10  variant             7399 non-null   object
 11  isC24Assured        7399 non-null   bool
 12  registrationCity    7389 non-null   object
 13  registrationState   7389 non-null   object
 14  isTopSelling        7399 non-null   bool
 15  registrationNumber  7399 non-null   object
 16  carSource           7273 non-null   object
 17  make                7399 non-null   object
 18  model               7399 non-null   object
 19  inventoryStatus     6779 non-null   object
 20  ownerNumber         7399 non-null   int64
 21  c24Quote            7399 non-null   int64
 22  originalPrice       4120 non-null   float64
 23  dealRating          7390 non-null   object
 24  createdDate         7398 non-null   object
 25  isCFEnabled         7391 non-null   object
 26  emiStartingValue    7399 non-null   int64
 27  cashDownPayment     7399 non-null   int64
 28  reserved            7399 non-null   bool
 29  warrantyAvailable   7399 non-null   bool
dtypes: bool(4), float64(1), int64(8), object(17)
memory usage: 1.6+ MB

In [217]:
tv_cars.rename(columns={
    'carId': 'id',
    'carName': 'car_name',
    'year': 'yr_mfr',
    'fuelType': 'fuel_type',
    'kilometerDriven': 'kms_run',
    'price': 'sale_price',
    'views': 'times_viewed',
    'bodyType': 'body_type',
    'isC24Assured': 'assured_buy',
    'registrationCity': 'registered_city',
    'registrationState': 'registered_state',
    'isTopSelling': 'is_hot',
    'registrationNumber': 'rto',
    'carSource': 'source',
    'inventoryStatus': 'car_availability',
    'ownerNumber': 'total_owners',
    'c24Quote': 'broker_quote',
    'originalPrice': 'original_price',
    'dealRating': 'car_rating',
    'createdDate': 'ad_created_on',
    'isCFEnabled': 'fitness_certificate',
    'emiStartingValue': 'emi_starts_from',
    'cashDownPayment': 'booking_down_pymnt',
    'warrantyAvailable': 'warranty_avail'
}, inplace=True)

In [218]:
tv_cars.head()

,id,car_name,yr_mfr,fuel_type,kms_run,sale_price,city,times_viewed,body_type,transmission,variant,assured_buy,registered_city,registered_state,is_hot,rto,source,make,model,car_availability,total_owners,broker_quote,original_price,car_rating,ad_created_on,fitness_certificate,emi_starts_from,booking_down_pymnt,reserved,warranty_avail
0,1009580428,Maruti Swift,2015,Petrol,8063,386399,Noida,18715,Hatchback,Manual,LXI OPT,True,Delhi,Delhi,True,DL6C,GS_CAR,MARUTI,SWIFT,STOCK_IN,2,397677,404177.0,GREAT,2021-04-04T07:09:18.583,True,8975,57960,False,False
1,1005820423,Maruti Alto 800,2014,Petrol,5383,285699,Noida,8359,Hatchback,Manual,VXI,True,Delhi,Delhi,True,DL3C,GS_CAR,MARUTI,ALTO 800,STOCK_IN,1,290710,297210.0,GREAT,2021-03-16T08:52:05.513,True,6636,42855,False,False
2,1124764129,Maruti Ritz,2011,Petrol,17980,270699,Noida,1841,Hatchback,Manual,VXI BS IV,True,Ghaziabad,Uttar Pradesh,True,UP14,GS_CAR,MARUTI,RITZ,STOCK_IN,1,246284,321788.0,GOOD,2021-03-03T16:13:49.956,True,6288,40605,False,False
3,1052990821,Maruti Alto 800,2016,Petrol,23104,265499,Noida,2676,Hatchback,Manual,LXI,True,Noida,Uttar Pradesh,True,UP16,GS_CAR,MARUTI,ALTO 800,STOCK_IN,1,272935,354313.0,GREAT,2021-03-22T14:07:32.833,True,6167,39825,False,False
4,1004180023,Hyundai Grand i10,2017,Petrol,23402,477699,Noida,609,Hatchback,Manual,SPORTS 1.2 VTVT,True,Agra,Uttar Pradesh,True,UP80,GS_CAR,HYUNDAI,GRAND I10,STOCK_IN,1,469605,NaN,GREAT,2021-03-20T05:36:31.311,True,11096,71655,False,False

In [219]:
unq_counts = []
for col in tv_cars:
    unq_counts.append(tv_cars[col].nunique())
df = pd.DataFrame(columns=['Name', 'Unique Values'])
df['Name'] = tv_cars.columns
df['Unique Values'] = unq_counts
df

                   Name  Unique Values
0                    id           7399
1              car_name            185
2                yr_mfr             24
3             fuel_type              5
4               kms_run           7176
5            sale_price           4519
6                  city             13
7          times_viewed           3151
8             body_type              5
9          transmission              2
10              variant            949
11          assured_buy              2
12      registered_city            243
13     registered_state             16
14               is_hot              2
15                  rto            263
16               source              6
17                 make             34
18                model            192
19     car_availability              6
20         total_owners              6
21         broker_quote           6536
22       original_price           3987
23           car_rating              4
24        ad_created_on           7398
25  fitness_certificate              2
26      emi_starts_from           4437
27   booking_down_pymnt           4438
28             reserved              2
29       warranty_avail              2

In [243]:
tv_cars.fitness_certificate.value_counts()

True     7246
False     145
Name: fitness_certificate, dtype: int64

In [220]:
tv_cars.fuel_type = tv_cars.fuel_type.map({'Petrol': 'petrol', 'Diesel': 'diesel', 'Petrol + CNG': 'petrol & CNG', 'Petrol + LPG': 'petrol & LPG', 
                      'Electric': 'electric'})

tv_cars.source = tv_cars.source.map({'GS_CAR': 'inperson_sale', 'GS_DEALER': 'inperson_sale', 'CUSTOMER_CARE': 'online', 'MANUAL_UPLOAD': 'online',
                    'C2C_DEALER_CAR': 'customer_to_customer', 'CLASSIFIED_CAR': 'inperson_sale'
                   })

tv_cars.car_availability = tv_cars.car_availability.map({'STOCK_IN': 'in_stock', 'IN_TRANSIT': 'in_transit', 'NEW_CAR': 'in_stock', 'BID_WON': 'in_stock',
                             'PICKUP_REQUEST': 'pickup_pending', 'STOCK_OUT': 'out_of_stock'})
tv_cars.registered_city.unique()

array(['Delhi', 'Ghaziabad', 'Noida', 'Agra', 'New Delhi', 'Gurgaon',
       'Panchkula', 'Meerut', 'Faridabad', 'Goutam  Budd  Nagar',
       'Bareilly', 'Bulandshahr', 'Jhajjar', 'Auraiya', 'Raebarely',
       'Sonipat', 'Navi Mumbai', 'Mathura', 'Bulandshahar', 'Hathras',
       'Kanpur', 'Lucknow', None, 'Badaun', 'Yamunanagar', 'Palwal',
       'Sohana', 'Bhiwani', 'Karnal', 'Rewari', 'Ambala', 'Rohtak',
       'Mahendragarh', 'Aligarh', 'Chandigarh', 'Gorakhpur',
       'Bahadurgarh', 'Bawal', 'SONEPAT', 'Jhalawar', 'Delhi West',
       'MUMBAI WEST', 'Charkhi Dadri', 'MUMBAI EAST', 'Pali', 'Hisar',
       'BANGLORE-CAFE DLY', 'Bengaluru', 'Electronic City',
       'BANGALORE K R PURAM', 'BANGALORE SOUTH', 'BANGALORE CENTRAL',
       'Mysore', 'Chikamagalur', 'Chickballapur', 'Kolar', 'Devanahalli',
       'Gulbarga', 'Tumkur', 'Belgaum', 'Ullal', 'Dharward', 'Dharwad',
       'Mangalore', 'Karwar', 'Sagar', 'Madikeri', 'Udupi', 'Bidadi',
       'Channapatna', 'Chikmagalur', 'Bangaloresouth', 'Saharanpur',
       'Meham', 'Kaithal', 'Surat', 'Rothak', 'Ranchi', 'Jalandhar',
       'Panipat', 'Rangareddy', 'Rampur', 'Mumbai', 'Panvel', 'Thane',
       'Dombivali', 'Vasai', 'NAVIMUMBAI', 'Virar', 'Airoli', 'Badlapur',
       'Kalyan', 'Pen', 'Pune', 'Nerul', 'Vashi', 'Ambernath',
       'Nalasopara', 'Mangaon', 'Nashik', 'Nagpur', 'Thane (W)',
       'Mira Road', 'Ulhasnagar', 'Bhayander', 'Sanpada', 'Ratnagiri',
       'Raigarh', 'MUMBAI ATC', 'Palghar', 'Bhiwandi', 'Shriwardhan',
       'Alibag', 'Kharghar', 'Belapur', 'Kalamboli', 'Wada', 'Goregaon',
       'Mahad', 'Kalwan', 'Satara', 'Jalgaon', 'Yavatmal', 'Solapur',
       'Kolhapur', 'Chandrapur', 'Aurangabad', 'Malvani', 'Baramati',
       'Osmanabad', 'Rajapur', 'Sindhudurg', 'Latur', 'Ahmednagar',
       'Karad', 'Khopoli', 'Amravati', 'Shrirampur', 'Alibaug', 'Beed',
       'Raipur', 'Hyderabad', 'Ananthapur', '-Do', 'Proddatur',
       'Vijayawada', 'Srikakulam', 'Ravulapalam', 'Guntur',
       'Vishakapatnam', 'Vishakhapatanam', 'East Godavari',
       'Visakhapatnam', 'Bhimavaram', 'Kurnool', 'Tirupati', 'Eluru',
       'Hindupur', 'Kakinada', 'Tadepalligudem', 'Nandyal', 'Dantewada',
       'Rajahmundry', 'Kolkata', 'Chennai', 'CHENNAI WEST', 'Cuddalore',
       'CHENNAI SOUTH', 'Kulithalai', 'Vellore', 'Chengalpattu',
       'Tiruchirappalli', 'Ranipet', 'Tiruvananamalai', 'Sivagangai',
       'Kanchipuram', 'Arantangi', 'Tiruvannamalai', 'Tiruvallur',
       'Pudukkottai', 'Karaikudi', 'Salem', 'Thanjavur', 'Sholinganallur',
       'Trichy', 'Madurai', 'Madurantakam', 'Tirupattur', 'Tindivanam',
       'Tiruppur', 'Hosur', 'Tirunelveli', 'Neyveli', 'Cheyyar',
       'Sriperumbudur', 'Virudhunagar', 'Howrah', 'Kolkatta South',
       'Barasat', 'Balurghat', 'Kharagpur', 'Ahmedabad', 'Gandhinagar',
       'AHMEDABAD EAST', 'GANDHI NAGAR', 'Vadodara', 'Bhuj', 'Jamnagar',
       'Valsad', 'Palanpur', 'Rajkot', 'Himatnagar', 'Bhavnagar', 'Patan',
       'Navsari', 'Mehsana', 'Khambhalia', 'Nadiad', 'Anand', 'Bavla',
       'Veraval', 'Bardoli', 'Junagadh', 'Bharuch', 'Kheda', 'Rajpipala',
       'Dahod', 'Botad', 'Surendranagar', 'Mahesana', 'Muzaffarnagar',
       'Allahabad', 'Dehardun', 'Muzafarnagar', 'Kashipur', 'Etawah',
       'Faizabad', 'Gonda', 'Bahraich', 'Sultanpur', 'Haridwar',
       'Sitapur', 'Hardoi', 'Pratapgarh'], dtype=object)

In [231]:
tv_cars.variant = tv_cars.variant.str.lower()
tv_cars.fuel_type = tv_cars.fuel_type.str.lower()
tv_cars.car_name = tv_cars.car_name.str.lower()
tv_cars.city = tv_cars.city.str.lower()
tv_cars.body_type = tv_cars.body_type.str.lower()
tv_cars.registered_city = tv_cars.registered_city.str.lower()
tv_cars.registered_state = tv_cars.registered_state.str.lower()
tv_cars.rto = tv_cars.rto.str.lower()
tv_cars.make = tv_cars.make.str.lower()
tv_cars.model = tv_cars.model.str.lower()
tv_cars.car_rating = tv_cars.car_rating.str.lower()
tv_cars.transmission = tv_cars.transmission.str.lower()

In [244]:
tv_cars.head()

,id,car_name,yr_mfr,fuel_type,kms_run,sale_price,city,times_viewed,body_type,transmission,variant,assured_buy,registered_city,registered_state,is_hot,rto,source,make,model,car_availability,total_owners,broker_quote,original_price,car_rating,ad_created_on,fitness_certificate,emi_starts_from,booking_down_pymnt,reserved,warranty_avail
0,1009580428,maruti swift,2015,petrol,8063,386399,noida,18715,hatchback,manual,lxi opt,True,delhi,delhi,True,dl6c,inperson_sale,maruti,swift,in_stock,2,397677,404177.0,great,2021-04-04T07:09:18.583,True,8975,57960,False,False
1,1005820423,maruti alto 800,2014,petrol,5383,285699,noida,8359,hatchback,manual,vxi,True,delhi,delhi,True,dl3c,inperson_sale,maruti,alto 800,in_stock,1,290710,297210.0,great,2021-03-16T08:52:05.513,True,6636,42855,False,False
2,1124764129,maruti ritz,2011,petrol,17980,270699,noida,1841,hatchback,manual,vxi bs iv,True,ghaziabad,uttar pradesh,True,up14,inperson_sale,maruti,ritz,in_stock,1,246284,321788.0,good,2021-03-03T16:13:49.956,True,6288,40605,False,False
3,1052990821,maruti alto 800,2016,petrol,23104,265499,noida,2676,hatchback,manual,lxi,True,noida,uttar pradesh,True,up16,inperson_sale,maruti,alto 800,in_stock,1,272935,354313.0,great,2021-03-22T14:07:32.833,True,6167,39825,False,False
4,1004180023,hyundai grand i10,2017,petrol,23402,477699,noida,609,hatchback,manual,sports 1.2 vtvt,True,agra,uttar pradesh,True,up80,inperson_sale,hyundai,grand i10,in_stock,1,469605,NaN,great,2021-03-20T05:36:31.311,True,11096,71655,False,False

In [245]:
tv_cars.shape

(7399, 30)

In [246]:
test = tv_cars.sample(1000)
tv_cars.drop(index=test.index, inplace=True)

In [247]:
tv_cars.shape

(6399, 30)

In [248]:
test.shape

(1000, 30)

In [249]:
tv_cars.id = list(range(1, len(tv_cars)+1))
test.id = list(range(1, len(test)+1))

In [251]:
tv_cars.id.describe()

count    6399.000000
mean     3200.000000
std      1847.376518
min         1.000000
25%      1600.500000
50%      3200.000000
75%      4799.500000
max      6399.000000
Name: id, dtype: float64

In [250]:
test.id.describe()

count    1000.000000
mean      500.500000
std       288.819436
min         1.000000
25%       250.750000
50%       500.500000
75%       750.250000
max      1000.000000
Name: id, dtype: float64

In [252]:
tv_cars.to_csv('train.csv', index=False)
test.to_csv('test.csv', index=False)